body{
    background-color: #282828;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f0f0f0' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.page-title{
    height: 58px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    color: var(--blue-color);
}
.page-subtitle{
    color: var(--white-color);
}
.page-text{
    color: var(--white-color);
}
.page-text a{
    color: var(--white-color);
}
.techstack-item{
    color: var(--white-color);
    border: 1px solid var(--white-color);
}
strong{
    color: var(--blue-color);
}
.contact-item{
    color: var(--white-color);
}
.contact-item a{
    color: var(--blue-color);
}
.contact-item a:hover{
    border-bottom: 2px solid var(--blue-color);
}